In [13]:
# !pip install pyarrow fastparquet
# !pip install sqlalchemy
!pip install psycopg2-binary psycopg2

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Collecting psycopg2
  Downloading psycopg2-2.9.10.tar.gz (385 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 40.6 MB/s eta 0:00:00
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp312-cp312-linux_x86_64.whl size=635723 sha256=b21e2540eb3c66250cb163394683af9f966fa3937a5c0717725083ebc443073a
  Stored in directory: /home/codespace/.cache/pip/wheels/ac/bb/ce/afa589c50b6004d3a06fc691e71bd09c9bd5f01e5921e5329b
Successfully built psycopg2
Installing collected packages: psycopg2-binary, psycopg2
Successfully installed psycopg2-2.9.10 psycopg2-binary-2.9.10

In [5]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [3]:
# Read the first 100 rows
df = pq.read_table("yellow_tripdata_2025-01.parquet").to_pandas().head(100)

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.00,1.0,18.00,2.5,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.00,1.0,12.12,2.5,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.00,1.0,12.10,2.5,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.00,1.0,9.70,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.00,1.0,8.30,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2025-01-01 00:19:30,2025-01-01 00:27:25,0.0,1.00,1.0,N,211,158,1,9.3,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.0
96,1,2025-01-01 00:33:13,2025-01-01 00:40:08,0.0,1.20,1.0,N,158,68,1,8.6,3.5,0.5,1.00,0.00,1.0,14.60,2.5,0.0
97,1,2025-01-01 00:45:05,2025-01-01 01:20:32,0.0,1.80,1.0,N,68,50,1,28.2,3.5,0.5,8.30,0.00,1.0,41.50,2.5,0.0
98,2,2025-01-01 00:04:29,2025-01-01 00:55:58,9.0,31.97,5.0,N,132,265,2,90.0,0.0,0.0,0.00,20.32,1.0,111.32,0.0,0.0
99,2,2025-01-01 00:08:48,2025-01-01 00:14:02,1.0,0.93,1.0,N,229,233,2,7.2,1.0,0.5,0.00,0.00,1.0,12.20,2.5,0.0

In [ ]:
import pyarrow.parquet as pq

parquet_file = pq.ParquetFile("yellow_tripdata_2025-01.parquet")
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

for i in range(parquet_file.num_row_groups):
    table = parquet_file.read_row_group(i)
    df_chunk = table.to_pandas()
    df_chunk.to_sql(name="yellow_taxi_data",con=engine, if_exists="append")

In [21]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
with engine.connect() as conn:
    print("Connection successful")

Connection successful

In [23]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [ ]:
df.to_sql(name="yellow_taxi_data",con=engine)